/* ######## mobile specific styles ######## */ 

/* Fonts */
@font-face { 
  font-family: 'some_name_goes_here'; 
  src: url('some_location_of_the_font_file'); 
}

/* =================== First page =================== */
div#first-page {
  width: auto;
  height: auto;
  overflow: hidden;
}

div#gray-background {
  background-color: #F5F5F5;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 20%;
}

/* First page */
header {
  height: auto;
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
  position: relative;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

img#icon {
  width: 60%;
  height: auto;
  margin-top: 6em;
}

img#top-left-square {
  width: 5%;
  height: auto;
  position: absolute;
  top: 4px;
  left: 0;
}

img#top-right-square {
  width: 5%;
  height: auto;
  position: absolute;
  top: 4px;
  right: 0;
}

p#intro {
  color: #CBCBCB;
  font-weight: bold;
  font-size: 3em;
  height: 40%;
  line-height: 0.7em;
  padding-top: 5%;
  margin-top: 0;
}

p#side-words {
  color: black;
  width: 50%;
  margin-top: 16em;
  font-size: 0.2em;
  background-color: #F5F5F5;
  padding-left: 8em;
}




/* =================== Second page =================== */

article {
  margin-top: 10em;  
}

.portfolio {
  padding: 2em;
  overflow: hidden;
}

.portfolio img {
  height: auto;
  width: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 0;
}

.supplement {
  color: #CBCBCB;
  font-size: 0.5em;
  margin-bottom: 2em;
}

.caption {
  color: #CBCBCB;
  font-size: 0.5em;
  display: flex;
}

.caption-1 {
  flex: 1;
}

.caption-2 {
  flex: 1;
  text-align: right;
}