
/* ######## desktop styles ######## */ 

/* font family */
.im-fell-dw-pica-regular {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-dw-pica-regular-italic {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* fixed header */
#text {
  text-align: left;
  width: 100%;
  margin-right: 16px;
}

#self_intro {
  padding: 4px 8px 4px 8px;
  font-size: 14px;
  color: white;
  background-color: black;
  position: fixed;
  left: 16px;
  z-index: 2;
}

#e_mail {
  padding: 4px 8px 4px 8px;
  float: right;
  font-size: 14px;
  color: white;
  background-color: black;
  position: fixed;
  right: 16px;
  z-index: 2;
}

#separate {
  height: 8vh;
}

/* main area */
.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr;
  */
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  background-color: #ffffff;
  padding: 0px;
  width: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
}

.pic-background {
  background-color: #E4E4E4;  
  transition: background-color .2s;
  width: 100%;
  height: 45vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pic-background:hover {
  background-color: #CCCCCC;
}

.grid-item img {
  width: 90%;
  transition: transform .2s;
}

.grid-item img:hover{
  transform: scale(1.05);
}

#prj_1_pic {
  width: 70%;
  height: auto;
}

#prj_2_pic {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 20vh;
  right: -20vh;
}

#prj_3_pic {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: -5vh;
  right: 20vh;
}

#prj_4_pic {
  position: absolute;
  bottom: 20vh;
  right: 5vh;
}

.grid-item .intro {
  font-size: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
}