/* ######## desktop styles ######## */ 



/* ------- font family ------- */

.im-fell-dw-pica-regular {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
}
  
.im-fell-dw-pica-regular-italic {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
}
  
/* <weight>: Use a value from 100 to 400 */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt";
}


/* <weight>: Use a value from 100 to 900 */
.libre-franklin-200-10px-normal {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 10px;
    font-weight: 200;
    font-style: normal;
}

.libre-franklin-600-normal {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



/* ------- effect ------- */

.hidden {
    opacity: 0;
    position: relative;
    top: 20px;
    transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.in-view {
    top: 0px;
    opacity: 1;
}



/* ------- body ------- */

body {
    padding: 16px;
}



/* ------- go back to homepage ------- */

#homepage {
    margin-bottom: 1vw;
}

.link {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline; 
}
    


/* ------- teaser ------- */

#teaser {
    display: grid;
    place-items: center;
    align-content: center;
    padding: 10vw 10vw 0 10vw;
}

#intro_img {
    align-self: center;
    padding-right: -200px;
    animation: fadeInAnimation 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-iteration-count: 1;
    -webkit-animation: fadeInAnimation 1.5s;
    -webkit-animation-iteration-count: 1;
    position: relative;
}

#intro_img img {
    width: 50vw;
    height: auto;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        top: 20px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes fadeInAnimation {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
.grid-container {
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1.8fr 1fr;
    background-color: white;
    padding: 0px;
    width: 100%;
    height: 90vh;
}

#intro_img {
    align-self: center;
    padding-right: -200px;
    animation: fadeInAnimation 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-iteration-count: 1;
    -webkit-animation: fadeInAnimation 1.5s;
    -webkit-animation-iteration-count: 1;
    position: relative;
}

#intro_img img {
    width: 55vw;
    height: auto;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        top: 20px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes fadeInAnimation {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*/



/* ------- intro text ------- */

#intro_text {
    display: grid;
    place-items: center;
    align-content: center;
    padding: 0 20vw 0 20vw;
    min-height: 60vh;
    margin-top: 20vh;
    margin-bottom: 30vh;
}

#title {
    font-size: 64px;
    text-align: center;
}

#title p {
    margin-bottom: 0;
}

/*
#subtitle {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
    grid-column-start: 10;
    grid-column-end: 12;
    align-self: end;
    padding-bottom: 16px;
}

#subtitle p {
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 8px
}
*/

#explanation {
    margin-top: 1vh;
    text-align: center;
    width: 50%;
}

#team {
    width: 40%;
    border: 1px solid #D9D9D9;
    margin-top: 1rem;
    padding: 0.5rem;
}

#team ul{
    padding-left: 16px;
    color: #B3B3B3;
}

#team p {
    color: #B3B3B3;
}




/* ------- research ------- */

#research {
    background-color: #F0F0F0;
    margin-bottom: 48px;
}

section {
    display: grid;
    place-items: center;
    margin-top: 16px;
}

.section-title {
    color: black;
    text-align: center;
    font-size: 24px;   
    padding: 128px 64px 64px 48px; 
    margin-top: 8px;
    margin-bottom: 0px;
    width: 30%;
}

.img-container {
    padding-left: 64px;
    padding-right: 64px;
    display: grid;
    place-items: center;
}

.img-container img {
    width: 100%;
    margin-bottom: 64px;
}    



/* ------- prototyping ------- */

#prototype-1 {
    width: 70%;
}

#smile_icon {
    width: 10vw;
    height: auto;
    position: relative;
    left: 22vw;
    top: -12vw
}



/* ------- usage ------- */

#usage {
    padding: 64px;
    padding-top: 0px;
}

#three_modes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.mode-header {
    font-size: 8px;
    padding: 24px 32px 24px 32px;
    height: 6vw;
    background-color: #D8D0E0;
}

.mode-title {
    font-weight: 600;
}

.mode-picture {
    background-color: #F0F0F0;
    /*
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0px 0.5px 0.5px 0.5px; 
    */
    margin-top: 0px;
    height: 30vw;
}

.mode-picture img{
    width: 90%;
}

.mode-picture img[src="pics/board_game/mode-3.png"] {
    width: 70%;
}

/* ------- usage ------- */

#storyboard {
    background-color: #F0F0F0;
}


/* ------- go to next ------- */

#last_next_project {
    margin-top: 128px;
    margin-bottom: 128px;
    display: grid;
    place-items: center;
}
#last_next_project span {
    display: inline-block;
}

#last_project{
    margin-right: 5vw;
}

a {
    text-decoration: none; 
    color: black;
}