/* ######## desktop styles ######## */ 

/* ------- font families ------- */
.im-fell-dw-pica-regular {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
}
  
.im-fell-dw-pica-regular-italic {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt";
}

.playwrite-be-wal-font {
    font-family: "Playwrite BE WAL", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* ------- go back ------- */

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin-bottom: 1vw;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

button:hover {
    cursor: pointer;
    text-decoration: underline; 
}



/* ------- intro ------- */

body {
    padding: 16px;
}

.grid-container {
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1.8fr 1fr;
    background-color: #E4E4E4;
    padding: 0px;
    width: 100%;
    height: 90vh;
}

#intro_img {
    align-self: center;
    padding-right: -200px;
    animation: fadeInAnimation 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    animation-iteration-count: 1;
    -webkit-animation: fadeInAnimation 1.5s;
    -webkit-animation-iteration-count: 1;
    position: relative;
}

#intro_img img {
    width: 55vw;
    height: auto;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        top: 20px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes fadeInAnimation /* Safari and Chrome */ {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#intro_text {
    width: 60%;
    align-self: center;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

#title {
    font-size: 24px;
    margin-bottom: 0px;
}

#subtitle {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
}

#separator {
    background-color: black;
    height: 8px;
    width: 100%;
}

#team {
    margin-top: 2vw;
    color: #B3B3B3;
}

#team ul {
    padding-left: 16px;
}



/* ------- main body ------- */

#research {
    background-color: #F0F0F0;
    padding-bottom: 48px;
}

.section-title {
    color: #B3B3B3;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;    
    padding-left: 64px;
    padding-top: 128px;
    padding-bottom: 32px;
    width: 80%;
    margin-top: 8px;
}

.img-container {
    padding-left: 64px;
    padding-right: 64px;
}

.img-container img {
    width: 100%;
    margin-bottom: 64px;
}    

.hidden {
    opacity: 0;
    position: relative;
    top: 20px;
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.in-view {
    top: 10px;
    opacity: 1;
}


/*
.in-view {
    animation: fadeInWhenScrollAnimation 4s ease forwards;
    animation-iteration-count: 1;
    -webkit-animation: fadeInWhenScrollAnimation 4s;
    -webkit-animation-iteration-count: 1;
}

@keyframes fadeInWhenScrollAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInWhenScrollAnimation {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*/








